<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List-Chinese-WestLaw</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <style type="text/css">
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#"><img th:src="@{/images/icon.png}" height="36" width="24"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="/#">Home </a>
        </li>
    </ul>
</nav>
<div class="container px-lg-3">
    <div class="row " style="margin: 1%">
        <div th:each="court :${page.getCurPageData()}" class="col-12">
            <div class="alert alert-dark" role="alert">
                <a href="#" class="alert-link" th:text="${court.getCaseCode()+ ' ' +court.getIname()}">an example
                    link</a>
                <button type="button" class="btn btn-dark" data-toggle="modal"
                        style="position: absolute;top: 0.275rem;right: 0.375rem"
                        th:data-target="${'#'+ court.getDocId()}">Details
                </button>
            </div>
        </div>
        <div th:each="court :${page.getCurPageData()}">
            <div class="modal fade " role="dialog" tabindex="-1"
                 th:id="${court.getDocId()}">
                <div class="modal-dialog modal-dialog-scrollable modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" th:text="${court.getCaseCode()+ ' ' +court.getIname()}">Modal
                                title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body" th:if="${court.isFirstData()}">
                            <h5>案号</h5>
                            <p th:text="${court.getCaseCode()}"></p>
                            <hr>
                            <h5>被执行人</h5>
                            <p th:text="${court.getIname()}"></p>
                            <hr>
                            <h5>被执行人地址</h5>
                            <p th:text="${court.getAddress()}"></p>
                            <hr>
                            <h5>被执行标的金额（元）</h5>
                            <p th:text="${court.getMoney()}"></p>
                            <hr>
                            <h5>申请执行人</h5>
                            <p th:text="${court.getApplicant()}"></p>
                            <hr>
                            <h5>承办法院</h5>
                            <p th:text="${court.getCourtName()}"></p>
                            <hr>
                            <h5>联系电话</h5>
                            <p th:text="${court.getCourtPhone()}"></p>
                        </div>

                        <div class="modal-body" th:unless="${court.isFirstData()}">
                            <h5>案号</h5>
                            <p th:text="${court.getCaseCode()}"></p>
                            <hr>
                            <h5>被执行人</h5>
                            <p th:text="${court.getIname()}"></p>
                            <hr>
                            <h5>年龄</h5>
                            <p th:text="${court.getAge()}"></p>
                            <hr>
                            <h5>性别</h5>
                            <p th:text="${court.getSexy()}"></p>
                            <hr>
                            <h5>身份证号码/组织机构代码</h5>
                            <p th:text="${court.getCardNum()}"></p>
                            <hr>
                            <div th:unless="${court.getBusinessEntity()}">
                                <h5>法人</h5>
                                <p th:text="${court.getBusinessEntity()}"></p>
                                <hr>
                            </div>
                            <h5>执行法院</h5>
                            <p th:text="${court.getCourtName()}"></p>
                            <hr>
                            <h5>省份</h5>
                            <p th:text="${court.getAreaName()}"></p>
                            <hr>
                            <h5>执行依据文号</h5>
                            <p th:text="${court.getGistId()}"></p>
                            <hr>
                            <h5>立案时间</h5>
                            <p th:text="${court.getRegDate()}"></p>
                            <hr>
                            <h5>做出执行依据单位</h5>
                            <p th:text="${court.getGistUnit()}"></p>
                            <hr>
                            <h5>生效法律文书确定的义务</h5>
                            <p th:text="${court.getDuty()}"></p>
                            <hr>
                            <h5>被执行人履行情况</h5>
                            <p th:text="${court.getPerformance()}"></p>
                            <hr>
                            <div th:unless="${court.getPerformedPart()}">
                                <h5>履行部分</h5>
                                <p th:text="${court.getPerformedPart()}"></p>
                                <hr>
                            </div>
                            <div th:unless="${court.getUnperformPart()}">
                                <h5>未履行部分</h5>
                                <p th:text="${court.getUnperformPart()}"></p>
                                <hr>
                            </div>
                            <h5>被执行人行为具体情形</h5>
                            <p th:text="${court.getDisruptTypeName()}"></p>
                            <hr>
                            <h5>发布时间</h5>
                            <p th:text="${court.getPublishDate()}"></p>
                            <hr>


                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav aria-label="Page navigation">
    <ul id="paginationUI" class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>

<footer class="footer">
    <div class="container text-center">
        <p>Copyright (c) 2020</p>
        <p>Powered By Bootstrap</p>
    </div>
</footer>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script type="text/JavaScript" th:inline="javascript">
    var curPage = [[${page.getCurPage()}]]
    var totalPages = [[${page.getTotalPages()}]]
    var totalCount = [[${page.getTotalCount()}]]
    var pageSize = [[${page.getPageSize()}]]
    var hasFirstPage = [[${page.hasFirstPage()}]]
    var hasLastPage = [[${page.hasLastPage()}]]
    var hasNextPage = [[${page.hasNextPage()}]]
    var hasPreviousPage = [[${page.hasPreviousPage()}]]
    var buttonSize = 10

    var searchURL = window.location.search
    var pathName = window.location.pathname
    searchURL = searchURL.substr(1, searchURL.length)
    var urlSplits = searchURL.split('&')
    var urlParams = {}
    for (let i = 0; i < urlSplits.length; i++) {
        urlParams[urlSplits[i].split('=')[0]] = urlSplits[i].split('=')[1]
    }
    var initUrl = function (pageNo, params) {
        params['page'] = pageNo
        var urlStr = pathName + '?'
        for (var param in params) {
            urlStr += (param + '=' + params[param] + '&')
        }
        return urlStr.substr(0, urlStr.length - 1)

    }

    var initializePagination = function (paginationUI) {
        paginationUI.empty()
        var paginationItems = ''
        if (totalPages == 0 || totalCount < pageSize) {
            return
        }
        paginationItems += ' <li id="firstPage" class="page-item"><a class="page-link" href=" ' + initUrl(1, urlParams) + ' ">First</a></li>\n' +
            ' <li id="prePage" class="page-item"><a class="page-link" href="' + initUrl(curPage - 1, urlParams) + '">Previous</a></li>\n'

        var start = Math.floor((curPage - 2) / (buttonSize - 2)) * (buttonSize - 2)
        start = start + buttonSize > totalPages ? totalPages - buttonSize : start
        start = start >= 0 ? start : 0

        for (var i = start + 1; i <= start + buttonSize; i++) {
            if (i > totalPages || buttonSize < 3) break;
            paginationItems += '<li' + (i == curPage ? ' class="page-item active"' : ' class="page-item"') + '><a class="page-link" href="' + initUrl(i, urlParams) + '">' + i + '</a></li>'
        }

        paginationItems += '<li id="nextPage" class="page-item"><a class="page-link" href="' + initUrl(curPage + 1, urlParams) + '">Next</a></li>\n' +
            '<li id="lastPage" class="page-item"><a class="page-link" href="' + initUrl(totalPages, urlParams) + '">Last</a></li>'

        paginationUI.html(paginationItems)
        if (!hasFirstPage) {
            $('#firstPage').addClass('disabled')
        }
        if (!hasLastPage) {
            $('#lastPage').addClass('disabled')
        }
        if (!hasNextPage) {
            $('#nextPage').addClass('disabled')
        }
        if (!hasPreviousPage) {
            $('#prePage').addClass('disabled')
        }
    }

    $(document).ready(function () {
        initializePagination($('#paginationUI'))
    })

    if (curPage < 3) {

    }
</script>
</body>
</html>